<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

</head>

<div class="wrapper">

<!-- HEADER STARTS HERE - COPY AND PASTE THE WHOLE THING IF EDITED -->
<header class="page_header">
<div style="align-items: center;">
<table style="padding-left: 20px; padding-right: 20px; text-align: center;">
	<tr>
		<td style="padding-left: 20px; padding-right: 20px;">
		<p><img src="../assets/computer_logo.png" alt="computerlogo" width="125" height="125"/></p>
		</td>
		<td style="padding-left: 20px; padding-right: 20px;">
			<h2>Welcome to the SICK Issue Tracking System</h2>
		</td>
		<td style="padding-left: 20px; padding-right: 20px;">
			<img src="../assets/SICKlogo.png" alt="SICKlogo" width="125" height="75"/></p>
		</td>
	</tr>
</table>
</div>

<div class="menu" id="menu">
<ul class="level1">
	<li><a class="menuitem" title="Home" href="homepage.html">Home</a></li>
	<li><a class="menuitem" title="Create Ticket" href="recordIT.html">Create New Ticket</a></li>
	<li><a class="menuitem" title="View Tickets" href="viewtickets.html">View Tickets</a></li>
	<li><a class="menuitem" title="Reports" href="viewreports.html">Reports</a></li>
	<li><a class="menuitem" title="Logout" href="signin.html">Logout</a></li>
</ul>
</div>

</header>
<!-- HEADER ENDS HERE - COPY AND PASTE THE WHOLE THING IF EDITED -->

<div class="homepage_div">
	<p>Use the navigation bar above to create, view, and edit tickets. Reports can be generated as well, in theory only, because it doesn't work yet.</p>
	<p>Also none of the tables work, disregard them, thanks.</p>
	<div class="news_div">
		<h2 style="color:#1E7587; font-size: 20px;">SITE NEWS</h2>
		<hr></hr>
		<h1 style="color:#1E7587;">11/24/2021</h1>
		<p><b>Need to do:</p></b>
		<p>MUSTS:</p>
		<p>Login needs to work</p>
		<p>Tickets need to auto generate a ticket id</p>
		<p>View Tickets table needs to connect to database</p>
		<p>Editing tickets needs to connect to the database, and needs to have a submittable form like the create ticket screen</p>
		<p>Tickets need to have a page with their change history</p>
		<p>Adding a ticket category needs to work</p>
		<p>Tags need to be implemented</p>
		<p>SHOULDS:</p>
		<p>Reports should be runnable - each one with their own page (figure out html charts)</p>
		<p>Search function should be implemented on the View Tickets screen somehow</p>
		<br></br>
		<h1 style="color:#1E7587;">11/24/2021</h1>
		<p>Created by Stephanie Uschok, Isabella Vitale, Christopher Benson and Kaitlyn Torres.</p>
		<p>After its advent, world hunger decreased by at least 0.01%.</p>
	</div>
</div>


</div>
</html>
