<!DOCTYPE html>
<html lang="en" xmlns:22px>
<head>
	<link rel="stylesheet" href="../static/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

</head>


<form action="#" method="post">
<div class="register_form">

<h2 style="color:white; size="22px;font-family:Open Sans;">Welcome back to the Issue Tracking System</h2>
	<img src="../static/computer_logo.png" alt="" class="loginpic"
	width="150"
	height="150"/>

<div class="login_div">
	<div class="login_in">
		<h1>Please sign in to continue.</h1>
		<label for="username"><b>Username</b></label>
		<input type="text" name="username" class="username" placeholder="Username" size="25" maxlength="100" id="username" required/>
	</div>	
	
	<div class="login_in">
		<label for="password"><b>Password</b></label>
		<input type="password" name="password" class="password" placeholder="Password" size="25" maxlength="25" id="password" required/>
	</div>
	
	<div class="login_in">
		<button type="submit" class="medium-button">Login</button>
	</div>

	<div class="login_in">
		<style="font-size: 10px;color:White;"><a href="register.html">Don't have an account? Create one!</a></span>
	</div>

	<div style="color:White;text-align:right;font-family:'Open Sans';font-size:12px">
			SICK 2021
	</div>
</div>

</html>
