<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

</head>

<div class="wrapper">

<!-- HEADER STARTS HERE - COPY AND PASTE THE WHOLE THING IF EDITED -->
<header class="page_header">
<div style="align-items: center;">
<table style="padding-left: 20px; padding-right: 20px; text-align: center;">
	<tr>
		<td style="padding-left: 20px; padding-right: 20px;">
		<p><img src="../assets/computer_logo.png" alt="computerlogo" width="125" height="125"/></p>
		</td>
		<td style="padding-left: 20px; padding-right: 20px;">
			<h2>Welcome to the SICK Issue Tracking System</h2>
		</td>
		<td style="padding-left: 20px; padding-right: 20px;">
			<img src="../assets/SICKlogo.png" alt="SICKlogo" width="125" height="75"/></p>
		</td>
	</tr>
</table>
</div>

<div class="menu" id="menu">
<ul class="level1">
	<li><a class="menuitem" title="Home" href="homepage.html">Home</a></li>
	<li><a class="menuitem" title="Create Ticket" href="recordIT.html">Create New Ticket</a></li>
	<li><a class="menuitem" title="View Tickets" href="viewtickets.html">View Tickets</a></li>
	<li><a class="menuitem" title="Reports" href="viewreports.html">Reports</a></li>
	<li><a class="menuitem" title="Logout" href="signin.html">Logout</a></li>
</ul>
</div>

</header>
<!-- HEADER ENDS HERE - COPY AND PASTE THE WHOLE THING IF EDITED -->

<div style="padding: 20px;">
<table class="ticket_table" cellpadding="10" cellspacing="0">
	<thead class="ticket_table_head">
		<tr>
			<td>Ticket ID</td>
			<td>Status</td>
			<td>Category</td>
			<td>Title</td>
			<td>Description</td>
			<td>Point of Contact</td>
			<td>Date Opened</td>

<!--			<td>Assignee</td>-->

<!--			<td>Date Resolved</td>-->
			<td></td>
		</tr>
	</thead>
	<tbody class="ticket_table_body">
<!-- THIS NEEDS TO CONNECT TO THE DATABASE -->
{% for key in ticketDatabase%}
	{% if key != "ticketNumber" %}
			<tr class="ticket_table_row">
				<td>{{ticketDatabase[key]["ticketNumber"]}}</td>
				<td>Open</td>
				<td>{{ticketDatabase[key]["ticketCategory"]}}</td>
				<td>{{ticketDatabase[key]["title"]}}</td>
				<td>{{ticketDatabase[key]["details"]}}</td>
				<td>{{ticketDatabase[key]["firstName"]}} {{ticketDatabase[key]["lastName"]}}</td>
				<td>{{ticketDatabase[key]["date"]}}</td>
				<td><a class="edititem" href="editticket.html">Edit</a></td>
			</tr>
	{% endif %}
{% endfor %}
<!--		<tr class="ticket_table_row">-->
<!--			<td>2</td>-->
<!--			<td>Closed</td>-->
<!--			<td>Software</td>-->
<!--			<td>Create this table</td>-->
<!--			<td>This table needs to be created.</td>-->
<!--			<td>Steph</td>-->
<!--			<td>Steph</td>-->
<!--			<td>11/24/21</td>-->
<!--			<td>11/24/21</td>-->
<!--			<td><a class="edititem" href="editticket.html">Edit</a></td>-->
<!--		</tr>-->
	</tbody>
</table>

</div>

</div>
</html>
